

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
}

.error-container img {
    max-width: 100%;
    height: auto;
   }

.error-container img:hover{
  
    transform: scale(1.1);
}

